/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    background-color: #004466;
    display: flex;
    /* flex-direction: row-reverse; */
    /* 主軸 右到左 */
    /* flex-direction: column-reverse; */
    /* 下到上 */
    /* flex-direction 資訊流流向 */
    justify-content: space-between;
    /* 主軸 */
    /* flex-end由左到右 靠終點
    1.flex-start
        2.center
        3.flex-end
        4.space-between 不用再寫margin right
        左右靠齊
        5.space-around
        6.space-evenly
     */
     width: 500px;
     flex-wrap: wrap;
     /* 東西超過寬度下調,預設no-wrap */
     /* flex-basis: 25%;
     width:25% 一列內含物件欄數 */
     align-items: center;
     /* 針對交錯軸 */
}
.item{
    background-color: #00ffa2;
    text-align: center;
    margin-bottom: 30px;
    width: 120px;
}