/* 0716updated */
.nav{
  background-color: #e8eeea;
  padding: 0 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list{
    display: flex;
    align-items: center;
/*       justify-content: flex-end; */
}
/*.nav-item{
    display: flex;除去li的點
}*/
.nav-link{
  text-decoration: none;
  color: #00cc99;
  padding: 5px 10px;
}
.container{
  width: 800px;
  margin: 0 auto;
}
.title{
  font-size: 20px;
  font-weight: 5000;
  margin-bottom: 5px;
}
.card{
  margin-bottom: 10px;
  display: flex;
/*     padding-right: 100px; */
}
.card:nth-child(2){
  flex-direction: row-reverse;
}
.card:nth-child(2) .card-img{
   margin-right: 0;
   margin-left: 5px;
}
.card-img{
  margin-right: 5px;
}
.btn{
  width: 50px;
  padding: 8px 16px;
  color: white;
  background-color: #00cc99;
  text-decoration: none;
  display: block;
  margin-left: auto;
  text-align: center;
}
.card-body{
display: flex;
flex-direction: column;
justify-content: center;
}