// @import"scss/reset";
// @import"layout";
// @import"index";
// @import"product";
// @import"login";
/*總整理*/
@import"scss/bootstrap-4.5.2/scss/bootstrap.scss";
*,*:before,*:after{/*RWD必加*/
    box-sizing: border-box;
}
img{/*RWD必寫*/
    max-width: 100%;
    height: auto;
}
h1{
    color: blue;
}
.box{
    height: 50px;
    background-color: #000;
    width: 50px;/*寬度50px,because *:before->寬度多少就多少*/
    padding-right: 10px;
    border-right: 3px;
}
.container{
    display: flex;
    height: 500px;
    // width: 400px;
    max-width: 400px;
    background-color: green;
    flex-direction: row-reverse;/*1-3 -> 3-1*/
}
@media(max-width:768px)
{
    .container{
        flex-direction: column;
    }
}
.item{
    color: #fff;
    font-size: 30px;
    text-align: center;
    width: 100px;
    height: 40px;
    margin: 0 10px;
    background-color: blue;
}
.content{
    /*不寫死高度*/
    padding: 10px;
    background-color: pink;
    color: #fff;
    margin-bottom: 50px;
}
.footer{
    background-color: gray;
    padding: 10px;
    color: #fff;
}