/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.style{
    /* width: 350px; */
    /* height: 70px; */
    width: 174px;
    height: 36px;
    background-image: url(img/logo.png);
}
.q{
	background-color: aquamarine;
	/* background-size: cover; */
	background-image: url(img/simtree.png);
	background-repeat: repeat-x;
	background-position: right bottom;
}
.q h2{
	color: #ffffff;
	font-size: 36px;
	text-align: center;
	padding-top: 20px;
}
.logo{
	background-color: blue;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	/* background-position: 30px 30px; */
	background-position: 50% 50%;
}
.header{
	padding-top: 20px;
	margin: auto;
	border: #554698 solid 12px;
}
.header h1{
	float: left;
}
.header h1 a{
	background-image: url(img/logo.png);
	width: 174px;
	height: 36px;
	display: block;
	/* 圖片取代文字 */
	text-indent: 101%;
	overflow: hidden;
	/* 若超出div距離就隱藏 */
	white-space: nowrap;
	/* 不斷行 */
}