/* max-width */
*,*:before,*::after{
    box-sizing: border-box;
  }
  body{
    color: #fff;
  }
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin:0 auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .menu{
    width: 100%;
    background: pink;
  }
  .content{
    width: 100%;
    background: green;
  
  }
  @media(min-width:768px){
    .container{
      max-width: 720px;
    }
    .menu{
    width: 30%;
    }
    .content{
      width: 70%;
    }
  }
  
  @media(min-width:992px){
    .container{
      max-width: 960px;
    }
  }
  
  @media(min-width:1200px){
    .container{
      max-width: 1140px;
    }
  }
  