@import"bs4/scss/bootstrap.scss";
/*w6main scss*/
/*change primary color to #916000*/
.red{
    color: #e83e8c;
}
.grid-col{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
    /*alpha 透明度*/
}